
.loading{
  width: 80%;
  height: 500px;
  background-color: #e2e2e2;
  margin: 0 auto;
}
.chart {
  border: 1px solid #e2e2e2;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loading span{
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
